@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
	--header: hsl(0, 0%, 85%);
	--header-foreground: hsl(0, 0%, 0%);
	--primary: hsl(333, 50%, 45%);
	--primary-foreground: hsl(0, 0%, 100%);
	--input: hsl(0, 0%, 100%);
	--input-foreground: hsl(0, 0%, 0%);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
		--header: hsl(0, 0%, 18%);
		--header-foreground: hsl(0, 0%, 100%);
		--primary: hsl(333, 50%, 75%);
		--primary-foreground: hsl(0, 0%, 0%);
		--input: hsl(0, 0%, 36%);
		--input-foreground: hsl(0, 0%, 100%);
	}
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-header: var(--header);
	--color-header-foreground: var(--header-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-input: var(--input);
	--color-input-foreground: var(--input-foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

button {
	cursor: pointer;
}

button:disabled {
	cursor: not-allowed;
}
